{% extends 'base.html' %}
{% block content %}

   <!-- >>>>> Start Achievements <<<<<-->

   <section class="about-achievements">
    <div class="about-achievements-conainer container">
        <div class="about-achievements-left">
            <img src="/static/images/about-achievements.png" alt="">
        </div>

        <div class="about-achievements-right">
            <h1>Achievements</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, amet asperiores obcaecati iusto ab accusantium sunt sapiente unde excepturi voluptatibus expedita omnis voluptate, possimus at quibusdam, commodi velit ea reiciendis. Eius
                a architecto tempora delectus eligendi, numquam commodi? Cum facilis aspernatur, molestiae sapiente nulla explicabo quod quibusdam voluptas perferendis porro culpa dicta similique totam, numquam molestias pariatur id quae error aperiam
                quaerat sint. Voluptatem velit quisquam.</p>

            <div class="achievements-cards">

                <article class="achievements-card">
                    <span class="achievement-icon">
                    <i class="fa-solid fa-video"></i>                        
                    </span>
                    <h3>250+</h3>
                    <p>Courses</p>
                </article>

                <article class="achievements-card">
                    <span class="achievement-icon">
                    <i class="fa-solid fa-users"></i>                       
                    </span>
                    <h3>12.000+</h3>
                    <p>Students</p>
                </article>

                <article class="achievements-card">
                    <span class="achievement-icon">
                    <i class="fa-solid fa-award"></i>                        
                    </span>
                    <h3>23+</h3>
                    <p>Awards</p>
                </article>


            </div>
        </div>
    </div>
</section>


<!-- >>>>> End Achievements <<<<<-->


<!-- >>>>> Start Team <<<<<-->
<section class="team">
    <h2>Our Team</h2>
    <div class="team-container container">

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-01.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-02.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-03.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-04.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-05.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-06.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-07.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="/static/images/team-08.jpg" alt="">
            </div>
            <div class="team-member-info">
                <h4>John Doe</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team-member-socials">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twittwe.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </article>

    </div>
</section>

<!-- >>>>> End Team <<<<<-->


{% endblock content %}