{% extends 'basesuper.html' %}
{% block title %}| Add Course{% endblock title %}
{% block super %}
    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Add New Course ({{getcategory.title}})</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add New Course</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            
                            <div class="card-header">
                                <div class="card-title">Add New Course To Category ({{getcategory.title}})</div>
                            </div>
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data" >
                                    {% csrf_token %}   
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Title  :</label>
                                        <div class="col-md-9">
                                            <input type="text" name="title" class="form-control" placeholder="Name Course" required>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label"> Link :</label>
                                        <div class="col-md-9">
                                            <input type="text" name="link" class="form-control" placeholder="Link" required>
                                        </div>
                                    </div>                                      
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">image :</label>
                                        <div class="col-md-9">
                                            <input name="image" type="file"  required >
                                        </div>
                                    </div>                                                                                                                                                                                                                                                                                                                     
                            </div>
                                <div class="card-footer">
                                    <!--Row-->
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9">
                                            <button name='back' class="btn btn-primary" type="submit">Add Course To Back All Category</button>
                                            <a href="{% url 'coursessuper' getcategory.id %}"><input name='see' type="submit" class="btn btn-primary" value="Save And See All Courses " ></a>
                                            <a href="{% url 'categorycoursesuper' %}" class="btn btn-default float-end">Discard</a>                                        
                                        </div>                                        
                                    </div>
                                    <!--End Row-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /ROW-1 CLOSED -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!--app-content closed-->

{% endblock super %}